[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yukun/Desktop/Screenshot_2024-12-01_16-36-39.png]
row=1
col=0

[/home/yukun/Desktop/ShirtFrontTEstExtrat.png]
row=2
col=0

[Trash]
row=0
col=0

